name: deploy-book
on:
  push:
    branches: [main] # Se activa cada vez que subes cambios a 'main'

permissions:
  contents: write # Permiso para que la Action cree la rama gh-pages

jobs:
  deploy-book:
    runs-on: ubuntu-latest # GitHub usar치 una m치quina Linux para el build (es m치s r치pido)
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install MyST
        run: npm install -g mystmd

      - name: Build HTML
        run: myst build --html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html